.header {

  margin: 0 auto;
  width: 60%;

  /* display: flex; */
}
.header header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 3px solid green;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weekRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.weekItem {
  margin: 5px 5px;
  width: 150px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 189, 28);
}
.weatherCart {
  background-color: rgb(28, 189, 28);
  text-align: center;
  padding: 1em;
}