.header {
  /* display: flex; */
}
.header header {
  /* display: flex; */
  /* justify-content: space-between; */

  align-items: center;
  border: 3px solid green;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weekRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.weekItem {
  margin: 5px 5px;
  width: 150px;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(28, 189, 28);
  box-sizing: border-box;
  /* z-index: -10; */
}
.weekItem__date {
  color: white;
}
.weatherCart {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 20px;
  height: 100%;
}
.swiper-container {
  border-radius: 10px;
  width: 100%!important;
}
.weatherCard__img img {
  width: 100px;
}
.weatherCard__img {
  text-align: center;
}
.weatherCard__meta {
  font-weight: bold;
  text-align: center;
}
.wetherCard__sideBar {
  text-align: center;
}
.weatherCard__temp {
  font-size: 3em;
}
#myChart {
  color: black;
  font-weight: bold;
}
.weekItem__title {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.weekItem__title p {
  margin: 0;
}
.weekItem__dayTemp {
  font-size: 1.5em;
}
.weekItem__weather {

  font-weight: 500;
  text-align: center;
}
.horizontal-line {
  width: 100%;
  box-sizing: border-box;
  color: white;
  height: 3px;

  border: none;
  background-color: white;
}
.weekItem__sun-data {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  font-weight: bold;
  color: white;
}
.horizont {
  width: 50px;
  height: 10px;
  background-color: brown;

  border-top-left-radius: 120%;
  border-top-right-radius: 120%;
  position: relative;
}
.sun {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: yellow;
  border-radius: 50%;
  animation-name: sun-up;
  z-index: -5;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes sun-up {
  0% {
    top: -20px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: -20px;
  }
}

.sunsetTime__title {
  color: black;
}

* {
}
.gauge {
  max-width: 100px;
  /* height: 50px; */
  width: 100%;
  position: relative;
}
.gauge::after {
  content: "0";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 20px;
  height: 20px;
}
.gauge::before {
  content: "12";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: 20px;
}
.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: grey;
  border-top-left-radius: 100% 200%;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 100% 200%;
}


.gauge__fill {
  width: inherit;

  position: absolute;
  height: 100%;
  transform-origin: center top;
  /* bottom: 0; */
  top: 100%;
  background-color: red;
}
.gauge__cover {
  background-color: white;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  position: absolute;
  height: 55px;
  z-index: 100;

}
.gauge__cover span {
  padding-bottom: 10px;
  font-weight: bold;
}

.uv__card {
  background-color: white;
  padding: 1.4em;
  width: 112px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}
.wind__speed {
  font-size: 2em;
}
.sunset p{
  margin: 0;
}
.highlights {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.location__title {
  background-color: brown;
  color: white;
  position: absolute;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  left: 0;
  top: 0;
}

.search-card {
  padding: 10px;
  position: relative;
  display: flex;
  background-color: coral;
  justify-content: space-around;
}
.search-card__temp {
  font-size: 2.4em;
}
.search-card__icon {
  text-align: center;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0, 0, 0.1);
  z-index: 100;

}
.modal-content {
  background-color: white;
  width: 500px;
  z-index: 101;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  
}
.show {
  display: block;
  
}
.hide-own {
  animation-name: hide;
  animation-duration: 2s;
}

@keyframes hide {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
.growWindow {
  transform: translate(-50%, -50%);
  animation-name: grow;
  animation-duration: 0.5s;
  transform-origin: 0%  0%;
}
@keyframes grow {
  0% {
   transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.shirink {
  transform: translate(-50%, -50%);
  animation-name: shrink;
  animation-duration: 1s;
  transform-origin: 0%  0%;
}

@keyframes shrink {
  0% {
    transform: scale(1) translate(-50%, -50%);
   }
   100% {
     transform: scale(0) translate(-50%, -50%);
   }
}